@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --color-focus: rgb(74, 162, 250);
    --box-shadow: 0 0 4px rgb(153, 153, 153);
    --border-radius: 5px;
    --color-tempRow-time: rgb(133, 133, 133);
    --color-tempRow-temp: rgb(109, 109, 109);
    background: rgba(0, 185, 255, 0.1);
}

::-webkit-scrollbar,
::-webkit-scrollbar-button{
    display: none;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 5fr 1fr;
    row-gap: 5vh;
    padding: 0;
    margin: 0 auto;
    gap: 2vh;
    font-family: 'Roboto', sans-serif;
    -ms-overflow-style: none;
    width: 100%;
    max-width: 70vw;
    height: 100vh;
    box-sizing: border-box;
    overflow: none;
}

body>*{
    margin: 0 20px;
}

#searchBar{
    margin-top: 2vh;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* box-shadow: var(--box-shadow);
    border-radius: var(--border-radius); */
}

#searchBar>#search{
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    height: clamp(20px, 25px, 30px);
    width: 50%;
    padding: 0 5px;
}

#searchBar>#search:focus{
    box-shadow: 0 0 8px var(--color-focus);
    outline: 2px solid white;
}

#searchBar>#magnifierDiv>#magnifier::before{
    padding: 4px;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    background-color: white;
}

#searchBar>#magnifierDiv>#magnifier{
    font-size: 1rem;
    height: 10px;
    width: 10px;
}

#searchBar>#magnifierDiv>#magnifier:hover{
    cursor: pointer;
    color: #666;
}

#searchBar>#magnifierDiv>#magnifier:active{
    transform: scale(0.96);
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

#header>.left-panel{
    margin-left: 10px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;

}

#header>.left-panel>.location{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

#header>.left-panel>.location>#arrowIcon{
    font-size: .6rem;
    margin-top: -5px;
}

/* #header>.left-panel>.location>.city{

} */

#header>.left-panel>.degree{
    font-size: 3rem;
}

#header>.right-panel{
    margin-right: 10px;
    text-align: right;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* #header>.right-panel>.iconDiv{

} */

#header>.right-panel>.iconDiv>#icon{
    width: 50px;
    height: 50px;
    /* object-fit: cover; */
}



#header>.right-panel>.desc{

}


#header>.right-panel>.h-l{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: right;
    gap: 10px;
}

#main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    gap: 2vh;
    height: max-content;
}

#main>.tempRow {
    display: flex;
    column-gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
}

#main>.tempRow>.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid red;
    width: max-content;
    height: max-content;
    padding: 10px;
    height: 90%;
    width: 100%;
}



#main>.tempRow>.card:first-child {
    margin-left: 20px;
}

#main>.tempRow>.card:last-child {
    margin-right: 20px;
}

#main>.tempRow>.card>.time-icon-temp{
    display: grid;
    place-items: center;
    gap: 1vh;
}

#main>.tempRow>.card>.time-icon-temp>.time {
    color: var(--color-tempRow-time);
    font-size: 1.2rem;
}

#main>.tempRow>.card>.time-icon-temp>.temp {
    font-size: 1.5rem;
    font-weight: 600;
}




#main>.tempColumn{
    display: flex;
    flex-direction: column;
    border: none;
}

#main>.tempColumn,
#main>.tempRow{
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

#main>.tempColumn>.card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: clamp(80px, 100px, 120px);
}

#main>.tempColumn>.card>*{
    border: 1px solid green;
    padding: 20px;  
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

#main>.tempColumn>.card>.lowestTemp {
    color: var(--color-tempRow-temp);
    font-weight: 600;
}

#main>.tempColumn>.card:first-child>div:first-child{
    border-top-left-radius: var(--border-radius);
}
 
#main>.tempColumn>.card:first-child>div:last-child{
    border-top-right-radius: var(--border-radius);
}

#main>.tempColumn>.card:last-child>div:first-child{
    border-bottom-left-radius: var(--border-radius);
}

#main>.tempColumn>.card:last-child>div:last-child{
    border-bottom-right-radius: var(--border-radius);
}


#main>.tempColumn>.card>*:last-child{
    display: flex;
    border: 1px solid blue;
    justify-content: right;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}